html {
  background: linear-gradient(
    195deg,
    rgba(240, 98 , 146 , 1 ) 0%,
    rgb(224, 140, 168) 98%
  );
  background-attachment: fixed;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica ;
}